
<div class="container">
    <h1 class="text-center">Connect Four</h1>
    <div class="row btnCenter">
        <p>Player1: </p> <span class="baseIndicator player1Indicator"></span>
        <p>Player2: </p> <span class="baseIndicator player2Indicator"></span>
    </div>
    <p class="text-center"> {{ finalResult }}</p>
    <div class= "board">
        <div class="row" *ngFor="let rowCount of rowData; let rowIndex= 'index'">
            <div class="col" *ngFor="let columnCount of columnData; let columnIndex='index'">
                <span class="baseIndicator" id ="{{rowIndex}}-{{columnIndex}}" (click) = "setColor(columnIndex )"></span>
            </div>
        </div>
    </div>
    <div class="row mt-3 btnCenter">
        <button (click)="resetGame()" class="btn btn-primary">Reset Game</button>
    </div>
</div>